
body {
    background-image: url('../jpgs/tumblr_o7b4bgHu6L1qciqqno3_640.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
  }
  
  img {
    width: 50%;
    height: 90%;
    position: relative;
    animation: moveDiagonal 2s ease-in-out infinite;
  }
  
  @keyframes moveDiagonal {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-100px, 100px); /* Ajusta la distancia diagonal de movimiento */
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  
  
  
.boton{
    padding: 10px 25px;
    font-size: 18px;
    background-color: #ee0000;
    color: #fac71e;
   text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    margin-top:10%;
 margin-left:40%;
   width:20%;
}



